<header style="padding-left:16px">
  <h1>Welcome <%= @student.name %>!</h1>
</header>

<body>


  <h3>What would you like to learn today?</h3>
  <a href="/hobbies"><img src="" alt=""></a>


  <h3>Recommendations for you: </h3>
</body>
