<header style="padding-left:16px">
  <h1>Welcome <%= @teacher.name %>!</h1>
</header>

<body>

  <h3>Your Lessons</h3>
  <ul>
  <% @lessons.each do |lesson| %>
    <li>
      <%= lesson.student.name %>
      <%= lesson.time %>

    </li>
  <% end %>
  </ul>
</body>
