/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*:before,
*:after {
 box-sizing: inherit;
 margin:0;
 padding:0;
}

html, body {
 height: 100%;
 box-sizing: border-box;
 position: relative;
 min-height: 100%;
 background: url("https://blog.intercomassets.com/wp-content/uploads/2018/03/02092036/build-a-brand_FINAL_03-%402x-1400x663.jpg");
 background-size:cover;
 background-color:rgba(255,255,255,0.9);
 background-blend-mode: screen;
}

/* login page styling */
.login_container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  margin-top: 10%;
}


/* student home page styling */
.header_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3%;
}

.learn_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7%;
  background-color: lightblue;
  opacity: 0.7;
}

#hobby_categories {
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

#hobby_categories .circle {
  width: 300px;
  height: 300px;
  display: inline-flex;
  align-items: center;
  justify-content: center
}

#creative {
  background-image: url(https://images.squarespace-cdn.com/content/v1/568d61352399a30df6251902/1555951873209-NRGG9Z6J5N3O20KFKOES/ke17ZwdGBToddI8pDm48kFD1qf4wtqw0I1A81gKfzH8UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2du3rAD5LcfsBvgFQxbBKtpqODQXBkp5rL0ET8zfMWb4LCjLISwBs8eEdxAxTptZAUg/culture_seeker.gif?format=1500w);
  background-size: 520px;
  background-position: center;
}

#tech {
  background-image: url(https://images.squarespace-cdn.com/content/v1/568d61352399a30df6251902/1555951874345-6MFQ0WQ3WXTM9DKK6PZC/ke17ZwdGBToddI8pDm48kFD1qf4wtqw0I1A81gKfzH8UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2du3rAD5LcfsBvgFQxbBKtpqODQXBkp5rL0ET8zfMWb4LCjLISwBs8eEdxAxTptZAUg/learner.gif?format=1500w);
  background-position: center;
  background-size: 520px;
}

#lifestyle {
  background-image: url(https://images.squarespace-cdn.com/content/v1/568d61352399a30df6251902/1555951874736-DE60EM2CA22P5WNN4CJP/ke17ZwdGBToddI8pDm48kFD1qf4wtqw0I1A81gKfzH8UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2du3rAD5LcfsBvgFQxbBKtpqODQXBkp5rL0ET8zfMWb4LCjLISwBs8eEdxAxTptZAUg/lush.gif?format=1500w);
  background-position: center;
  background-size: 550px;
}

#hobby_categories a {
  color: white;
  display: block;
  background: darkblue;
  padding: 5px;
}

.popular, .recommendations, .recent  {
  display: flex;
  justify-content: center;
  padding: 3%;
  background-color: darkblue;
  color: white;
  opacity: 0.7;
}

.popular_hobby_container, .recommendations_container, .recent_container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* teacher home page styling */

.teacher_lesson_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.your_lessons {
  display: flex;
  width: 100%;
  justify-content: baseline;
  margin: 0;
  background-color: lightblue;
  opacity: 0.8;
}

.your_lessons h3 {
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
}

.lessons_title {
  display: -webkit-box;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: darkblue;
  color: white;
  margin: 18px;
}

.show_hobbies_to_teacher h3 {
  font-family: 'Montserrat', sans-serif;
}

.teacher_pending_lessons, .teacher_active_lessons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* justify-content: space-between; */
  margin: 20px;
}

.teacher_active_lessons {
  display: flex;
}

.all_my_lessons {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.all_my_lessons li {
  display: flex;
  flex-direction: column;
}


.circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}


.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

.main-container .form-container, .main-container h1 {
  padding:20px
}

nav .logo a {
  padding: 0px
}

.sign-in-out {
    float:right
}

.logo img {
  display: inline-block;
  width: 67px;
}

header {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  border: 10px;
  /* margin-top: 90px; */
}

header h1 {
  color: black;
  text-align: center;
}

header h6 {
  color: darkgrey;
  font-weight: bold;
  text-align: center;
}


.welcome {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.banner_container {
  height: 450px;
  background-image: url("https://blog.intercomassets.com/wp-content/uploads/2018/03/02092036/build-a-brand_FINAL_03-%402x-1400x663.jpg");
  background-size:cover;
}


.hobby_categories {
  text-align: center;
}

.recommendations .card {
  width: 30%;
  height: 350px;
}

.popular .card {
  width: 30%;
  height: 350px;
}

#recent {
  display: flex;
}

#top_trending {
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(30, 0, 237);
}

nav ul li {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

nav ul li.left {
  float: left;
}

nav ul li.logo {
  position: absolute;
  right: 50%;
}

nav ul li.right{
  float: right ;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size:18px;
}

nav ul li a:hover {
  background-color: rgb(253, 197, 210);
  color:rgb(30, 0, 237);
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
  font-family: 'Montserrat', sans-serif;
  height:50px;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-size: 18px
}

footer li {
  display: block;
  float: left;
  padding-left: 20px;
}

footer a {
  display: block;
  text-decoration: none
}

footer a:hover {
  background-color: lightblue;
  color:rgb(30, 0, 237);
}

.flash {
  border: 1px solid #ebccd1;
  font-family: "Montserrat", sans-serif;
  background: #f2dede;
  padding: 10px;
  color: #a94442;
  margin-bottom: 20px;
  width:100 %
}

.flash-success {
  border: 1px solid #ebccd1;
  font-family: "Montserrat", sans-serif;
  background: #def2e0;
  padding: 10px;
  color: #2f8407;
  margin-bottom: 20px;
  width:100%
}

@media only screen and (max-width: 600px) {
  .login_container {
    flex-direction: column;
    margin:2%;
  }
  .login_container form {
    width:100%
  }
  .login_container h1 {
    text-align:center;
    padding:0px!important;
  }
  nav li.logo, .flash {
    width: 100%
  }
  .main-container .form-container, .main-container h1 {
    padding:10px
  }
}
@media only screen and (max-width: 1000px) {
  nav ul li.logo {
    position:relative;
    right:0;
    top:0;
  }
  nav ul li.left, nav ul li.right, nav ul li.logo {
    float:none;
    display:block
  }
}
