// Place all the styles related to the Hobbies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  margin: 10px;
  float: left;
  background:white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  border-radius: 3%;
  width: 100% !important;
}

.container {
  padding: 15px;
}

.container h4 {
  padding: 5px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}



// .container p {
//   padding: 5px;
//   display: block;
//   background-color: #f9d6d6;
//   color: white;
//   text-align: center;
//   font-family: 'Montserrat', sans-serif;
// }

.card ul {
  padding: 20px;
}

.hobby_index_header {
  display: flex;
  justify-content: center;
  // background-image: url("https://blog.intercomassets.com/wp-content/uploads/2018/03/02092036/build-a-brand_FINAL_03-%402x-1400x663.jpg");
  height: 100px;
}

.hobby_index_header h1 {
  font-size: 40px;
}

.search_by {
  display: flex;
  flex-direction: row;
  margin: 40px;
  justify-content: space-around;
  margin-left: 10px;
}

.search_by p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.search_by form {
  width: 25%;
}

.hobby_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.hobby_buttons {
  display: box;
}

.back_to_browse {
  display: flex;
  width: 170%;
  flex-direction: row;
  justify-content: flex-end;
}

.hobby_buttons_show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}

.search_by_show {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.title {
  color: grey;
  font-size: 18px;
}

.create_new_hobby_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.search_button {
  margin-top: 10px;
}

.hobby_search_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.create_hobby_title {
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 990px) {
#hobby_categories {
  flex-direction: column;
    align-items: center;
    margin: 2%;
}
#hobby_categories .circle {
  margin-bottom: 10px
}
  .back_to_browse {
    justify-content:center;
    width:100%
  }
  .search_by_show {
      flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0px;
  }
  .hobby_buttons_show{
      flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .search_by {
    flex-direction: column;
align-items: center;
margin:2%
  }
.search_by form, .hobby_buttons {
  width: 100%
}

}
@media only screen and (max-width: 690px) {
.teacher_container,
.popular_hobby_container,
.recommendations_container,
.recent_container{
  flex-direction: column;
    align-items: center;
    margin: 2%;
}
.teacher_card,
.card {
  width:100%!important;
}
.teacher_card {
  margin-bottom:30px!important
}
.teacher_container,
.hobby_container,
.popular_hobby_container,
 .recommendations_container,
 .recent_container {
   margin:30px
 }

}
