// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.teacher .location .location-map iframe {
  vertical-align:bottom
}

.teacher .profile-inner, .teacher .timeslot {
  width:60%
}
.image-container {
  margin: 0 auto;
}
.teacher .location {
  display: flex;
border-radius: 10px;
border: 2px #e9e3e3ad solid;
display: flex;
align-items: center;
margin-top:12px;
}

.teacher .location .location-info {
  padding:10px
}

.info-dets {
  border-radius: 10px;
border: 2px #e9e3e3ad solid;
padding: 20px;
}
.timeslot {
  margin: 2%;
  padding: 30px;
  border: 2px #e9e3e3ad solid;
  border-radius: 5px;
  width: 50%;
  font-family: "Montserrat", sans-serif;
  background:white;
}

.teacher_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 25%;
  margin: 10px;
  text-align: center;
  font-family: arial;
  height: 500px;
  background-color: white;
}

.teacher_card img {
  border-radius: 60%;
}

.title {
  color: grey;
  font-size: 18px;
  padding-bottom: 12px;
}

.average_rating {
  display: block;
  margin-top: 34px;
  margin-right: 10px;
  font-size: 12px;
  text-align: right;
}

.teacher_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.teacher_container img {
  margin: 10px;
}

.no_teachers {
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 1350px) {
  .teacher .location .location-map iframe,
  .teacher .profile-inner,
  .teacher .timeslot, {
    width:100%
  }
   .image-info {
    flex-direction: column;
  }
  .timeslot {
    margin:0px;
    width:100%
  }
  .timeslot-container {
    margin: 2%
  }
  .teacher .location {
    flex-direction: column;
    align-items: stretch
  }
}
